/* Global button styles */
.button {
  transition: all 0.1s ease;
  cursor: pointer;
}

.button:hover {
  transform: translateY(-3px);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
  cursor: pointer;
}

.button:active {
  transform: translateY(0px);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
  cursor: pointer;
}